@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background: #0606066f;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}